  <!-- Donate Modal -->
  <!-- Donate Button trigger modal -->

  <button type="button" class="email-field btn side-btn" data-toggle="modal" data-target="#payModal" style="float:right;">
    Donate
  </button>

  <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true" style="margin-top:20%;">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background:lightgray">
        <button type="button" class="close text-right mr-2" data-dismiss="modal" aria-label="Close" style="text-align: left; left-margin:1.5rem;">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="card-body" style="text-align:center; padding:0;">
            <h2 class="panel-head">Give to Mexico</h2>
            <p>You can change lives for eternity by helping the languages of Mexico feast on the Word of God</p>
          </div>
          <div style="text-align: center;">
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;">$6</a>
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;">$15</a>
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;">$30</a>
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;">$60</a>
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;">$100</a>
            <a class="btn btn-light" href="#" role="button" style="width: 30%; margin-bottom:.5rem;padding-right:1.5rem;">$
              <input placeholder="Give" style="background: #f8f9fa;border: none;width: 100%;text-align:right;margin-right:1 rem;">
            </a>
          </div>
          <div style="text-align: center;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:92%; background:darkgreen;color:white;">Give</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Modal -->