 {{!-- Email Connect Panel --}} {{!-- ============================== --}}
<div class="email-well shadow p-3 rounded">
    <h3 class="panel-head text-center">Connect With Us</h3>
    <form class="floatlabels inline add-email-form" method="post">
        <fieldset class="email-field cell cell--100 well--small well--bottom">
            <input id="text-firstname-597" type="text" name="firstname" placeholder="First Name" />
        </fieldset>
        <fieldset class="email-field cell cell--100 well--small well--bottom">
            <input id="text-lastname-597" type="text" name="lastname" placeholder="Last Name" />
        </fieldset>
        <fieldset class="email-field cell cell--100 well--small well--bottom">
            <input id="text-email-597" type="email" name="email" placeholder="Email Address" />
        </fieldset>
        <button type="submit" class="email-field btn side-btn">Learn More</button>
    </form>
    <p class="text--center text--smaller well--dry">Learn more about membership and ways to serve at Wycliffe.</p>
</div>