<div class="row">
    <div class="col">
        <h3 class="panel-head">Related Media</h3>
    </div>
</div>

<div class="row">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="./assets/img/media1.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">Shine: The Gospel in Baka</h5>
                <p class="card-text">The road to translating the Baka New Testament was long and difficult, filled with hardships such as civil war, displacement and more. But the Baka translators persevered. Watch the story of God’s faithfulness to the Baka people of South Sudan.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/media2.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">Lasting Transformation Through Scripture</h5>
                <p class="card-text">Jon Hampshire and his family served for years in the Democratic Republic of Congo (DRC). In this video, he discusses what happened after a genocide affected the area. “Lasting transformation,” he says, “doesn’t take place until people’s hearts are transformed by an understanding of what God’s Word says about things like trauma and grace and forgiveness and healing.”</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/media3.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">It Starts in the Strangest Place</h5>
                <p class="card-text">"God was a visitor." This is what many people around the world believe to be true when they listen to sermons on Sundays and hear God’s Word preached in a language they don’t fully understand. Learn how Wycliffe Bible Translators and others are able to use Bible translation to help address issues of social justice such as literacy, cultural preservation, health, trauma healing and more.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/media4.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">The Perhsons in Papua New Guinea</h5>
                <p class="card-text">Ben and Mandy Pehrson met in college and soon realized they had a mutual interest in missions. Today, they and their five kids live in a village in Papua New Guinea where they help facilitate Bible translation for 10 languages in the area. From the joys and sorrows to the triumphs and struggles, Ben and Mandy talk openly about what it’s like to raise a family as missionaries in a remote village. They also discuss how their roles on the translation team have transitioned, as well as the importance of the relationships within that team.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/media2.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">The Potent Impace of Literacy</h5>
                <p class="card-text">Like many Quechua-speaking women, Marcelina wasn’t able to go to school when she was a child because she had to work. But Marcelina’s life was forever changed when she first attended literacy classes and learned how to read and write in her own language as an adult.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/media3.jpg" alt="Card image cap">
            <div class="card-body media-box shadow p-3 rounded">
                <h5 class="card-title">North and Amanda</h5>
                <p class="card-text">North and Amanda knew before they were married that they both wanted to serve the Lord in missions. Everyone viewed them as a “dream couple” who would go be missionaries together. But around a year into their marriage, things got difficult. Learn how God redeemed the dreams they had given over to him.</p>
            </div>
        </div>
    </div>
</div>