  {{!-- Navbar Area --}}
  <div id="navHead" class="container d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
    {{!-- <h5 class="my-0 mr-md-auto font-weight-normal">Wycliffe</h5> --}}
    <img class="nav-logo" src="../assets/img/wycLogoNav.png" alt="Logo" />
      <nav class="my-2 my-md-0 mr-md-3 flex-row-reverse">
        <a class="p-2 text-dark" href="#">Get Involved</a>
        <a class="p-2 text-dark" href="#">Blog</a>
        <a class="p-2 text-dark" href="#">About</a>
        <a class="p-2 text-dark" href="#">Resources</a>
        <a class="p-2 text-dark" href="#">Missionaries</a>
        <a class="p-2 text-dark" href="#">Donate</a>
      </nav>

      {{!-- <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap mr">
        <li class="nav-item"><a class="nav-link" href="">Te<i class="fa fa-facebook mr-1"></i></a> </li>
        <li class="nav-item"><a class="nav-link" href="">st<i class="fa fa-twitter"></i></a> </li>
      </ul> --}}
      <a class="btn btn-outline-primary text-right" href="#">Login / Sign-up</a>
  </div>