    body {
        font-family: 'Roboto', sans-serif;
        background-color: #fcfcfb;
    }

    .nav-logo {
        width: 125px;
        height: 40px;
    }

    .handwriting {
        font-family: 'Satisfy', cursive;
    }

    #navHead {
        height: 70px;
    }